@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

#banner a:link{
	text-decoration: none;
	color: #fff;
}

#banner a:visited{
	text-decoration: none;
	color: #fff;
}

#banner a:hover{
	text-decoration: none;
	color: #e8e8e8;
}

a:link{
	text-decoration: none;
	color: #000;
}

a:visited{
	text-decoration: none;
	color: #000;
}

a:hover{
	text-decoration: none;
	color: #000;
}

h1{
	color: #fff;
	font-family: 'Righteous', cursive;
	font-size: 90px;
	letter-spacing: -2px;
	font-weight: normal;
	line-height: 60px;
	margin: 10px 0 20px;
	text-transform: uppercase;
	text-shadow: 2px 2px 0 #000, margin: 10px 0 24px;
	text-align: center;
}

h2{
	color: #232323;
	font-size: 20px;
	letter-spacing: -1px;
	font-family:'Roboto';
}

p{
	color: #232323;
	font-size: 16px;
	letter-spacing: -1px;
	font-family:'Roboto';
}

h3{
	color: #232323;
	font-size: 40px;
	letter-spacing: -1px;
	font-family:'Roboto';
}

body {
	background-color: #e8e8e8;
	text-align: center;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#banner {
	font-family: 'Righteous', cursive;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: #a4e5f2;
	align-content:center;
}

#navcontainer{
	background-color: #bae6ef; 
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
#navcontainer, a:link{
	text-decoration: none;
	color: #000;
}

#navcontainer, a:visited{
	text-decoration: none;
	color: #000;
}

#navcontainer, a:hover{
	text-decoration: none;
	color: #000;
}

#navleft{
	width: 500px;
	float: left;
}

#leftleft{
	background-color: #cee8ed; 
	width: 220px;
	float: left;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2px;
}

#rightleft{
	background-color: #cee8ed; 
	width: 220px;
	float: right;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2px;
}

#navright{
	width: 500px;
	float: right;
}

#leftright{
	background-color: #cee8ed; 
	width: 220px;
	float: left;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2px;
}

#rightright{
	background-color: #cee8ed; 
	width: 220px;
	float: right;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2px;
}

#content{
	background-color: #bae6ef; 
	margin-top: 20px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#personal{
	margin-top: 20px;
	width: 300px;
	float: left;
	text-align: left;
}